# Trash
*.log
*.DS_Store
*.meta
Temp
Packages
Logs
Library

# Intermediates 
*.csproj
*.sln
*.cache

# iOS Build 
xcode/*
source/ProjectSettings/ProjectVersion.txt
source/ProjectSettings/EditorBuildSettings.asset
